* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 40, 37);
  padding: 10px;
  color: aliceblue;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.592));
}

.nav-menu {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  gap: 10px;
}

.nav-links {
  text-decoration: none;
  color: aliceblue;
}

.productos-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  text-align: center;
}

.carrito {
  text-decoration: none;
  color: aliceblue;
}

.botones {
  background-color: indianred;
}
